* {
  font-family:'JetBrains Mono',monospace;
  font-size: 11px;
  font-weight: 600;
  color: #ff8100;
  background-color: #000000;
  transition-property: background-color;
  border:none;
  margin: 0px;
  padding: 0px;
  min-height: 0;
}


#waybar {
  background: #000000;
  color: #ffffff;
  box-shadow: none;
}

#workspaces button {
  padding: 0 0px;
  background: transparent;
  color: white;
  border-radius:3px;
  margin: 0px 0px;
}

#workspaces button.active {
  color: red;
  font-weight: bold;
}

#workspaces button.focused {
 color: red;
}


#workspaces button.hover {
 color: red;
}


#window {
  color: #ff0100;
  font-weight: bold;
}

#cpu, #memory, #network, #clock, #custom {
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 0px;
  background: transparent;
  color:#ff8100;
}

#clock {
  color: #ff8100;
  margin-right:0px;
}

