* {
  font-family: JetBrainsMono;
  font-size: 10px;
  color: white;
  background-color: #000000;
  border:none;
}

#waybar {
  background: #000000;
  color: #ffffff;
  box-shadow: none;
}

#workspaces button {
  padding: 0 0px;
  background: transparent;
  color: white;
  border-radius:3px;
  margin: 0px 0px;
}

#workspaces button.active {
  color: red;
  font-weight: bold;
}

#workspaces button.focused {
 color: red;
}


#workspaces button.hover {
 color: red;
}


#window {
  color: #ff0100;
  font-weight: bold;
}

#cpu, #memory, #network, #clock {
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 0px;
  background: transparent;
  color: #ffffff;
}

#clock {
  color: #FFDE00;
  margin-right:0px;
}

